doctype html
head
  title Login V8
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', type='text/css', href='/start/util-css')
  link(rel='stylesheet', type='text/css', href='/start/main-css')
.limiter
  .container-login100
    .wrap-login100(style='border: 3px solid #57b856')
      .login100-form.validate-form.p-l-55.p-r-55
        .container-login100-form-btn
          .login100-form-btn(style='margin-top:20px;margin-bottom:0px')
            | #{msg}
          img(src='/start/success_image', height='200', width='250')
        div(style='margin-bottom: 20px;')
          a(href='/start', style='display:block;margin-left:35%;color:#57b856') Click Here to LogIn

