doctype html
head
  title Login V8
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='/start/util-css')
  link(rel='stylesheet' type='text/css' href='/start/main-css')
.limiter
  .container-login100
    .wrap-login100
      form.login100-form.validate-form.p-l-55.p-r-55.p-t-178(action='/start/verify_otp'+changer method='post')
        span.login100-form-title(style='padding: 18px;')
          p(style='color:white;') #{user.str} #{user.ph}
        .wrap-input100.validate-input.m-b-16(style='margin-top:-110px;')
          input.input100(type='number' name='otp' placeholder='Enter OTP')
          span.focus-input100  
        .wrap-input100.validate-input.m-b-16(style='margin-top:-10px;' )
          input.input100(type='hidden' name='mob' value=user.ph)
          span.focus-input100  
        .text-right(style="margin-top:-10px;")
          span.txt1(style="color:red;")
            | #{user.msg}
        .container-login100-form-btn
          input.login100-form-btn(type='submit' value='Verify OTP')
        .flex-col-c.p-t-170.p-b-40(style='margin-bottom:-150px;')
